.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    text-align: right;
    border: none;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: #FFFF;
    cursor: pointer;
}

button:hover {
    background-color: red;
}